#reviews {
  background-color: #796e95;
  color: white;
  padding: 40px;
  text-align: center;
  scroll-margin-top: 100px;
  padding-bottom: 300px;
  max-width: 100%;
}

.review-subheading {
  color: white;
  font-size: 1em;
  text-align: center;
  margin-top: 20px;
}

.review-btn {
  background-color: white;
  color: black;
  padding: 20px;
  height: 30px;
  border: none;
  border-radius: 10px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 20px auto;
  font-size: 16px;
  box-shadow: 0px 4px 20px rgba(13, 13, 13, 0.4);
  width: 250px;
  line-height: 0.2em;
  cursor: pointer;
  transition: 0.8s;
  text-decoration: none;
  display: block;
}

.review-btn:hover {
  background-color: #484259;
  color: white;
}

.review-subtext,
.review-name,
.review-text {
  color: white;
  text-align: left;
  margin: 25px 0;
  max-width: 100%;
}

.reviews-container img {
  object-fit: cover;
  max-width: 300px;
  border-radius: 5px;
  height: 300px;
}

.reviews-container {
  margin: 20px auto;
  display: grid;
  grid-template-rows: 1fr 70px 50px auto;
}

.reviews-grid {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 90%;
  margin: 0 auto;
}

/* Media Queries */
@media screen and (min-width: 690px) {
  .reviews-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 40px;
  }

  .reviews-container {
    grid-template-rows: 1fr 80px 50px 290px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-grid {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }

  .reviews-container {
    grid-template-rows: 1fr 80px 50px 300px;
  }

  .review-subtext,
  .review-name,
  .review-text {
    max-width: 70%;
  }
}

@media screen and (min-width: 3000px) {
  .review-subtext,
  .review-name,
  .review-text {
    max-width: 90%;
  }

  .reviews-container img {
    object-fit: cover;
    width: 600px;
    border-radius: 5px;
    height: 300px;
  }

  .reviews-container {
    max-width: 70%;
  }
}
